.custom-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cb.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}

.cb.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}

.cb.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}

.cb.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}

.cb.links {
    margin-top: 10px;
}

.cb.icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.cb-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}